@model NetLearner.SharedLib.Models.LearningResource

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Existing Resource</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResourceList.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentFeedUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentFeedUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Learning Resources</a>
</div>
