@model IEnumerable<NetLearner.SharedLib.Models.LearningResource>

@{
    ViewData["Title"] = "Learning Resources";
}

<h1>Learning Resources</h1>

<p>
    <a asp-action="Create">Create New Learning Resource</a> |
    <a asp-area="" asp-controller="LearningResources" asp-action="Index">All Resources</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentFeedUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@item.Url" 
                   title="@item.Url">
                    Link
                </a>
            </td>
            <td>
                <a href="/LearningResources/GetForList?Id=@item.ResourceListId">
                    @Html.DisplayFor(modelItem => item.ResourceList.Name)
                </a>
            </td>
            <td>
                <a href="@item.ContentFeedUrl)"
                   title="@item.ContentFeedUrl">
                    RSS
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
