@page "{searchString?}"
@model NetLearner.Pages.ResourceLists.IndexModel

@{
    ViewData["Title"] = "Resource Lists";
}

<h1>Resource Lists</h1>

<p>
    <a asp-page="Create">Create New List</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceLists[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResourceLists)
        {
            <tr>
                <td>
                    <a href="/LearningResources/@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
