@page
@model NetLearner.Pages.LearningResources.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Existing Resource</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningResource.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningResource.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningResource.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningResource.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningResource.ResourceList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningResource.ResourceList.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningResource.ContentFeedUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningResource.ContentFeedUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LearningResource.Id">Edit</a> |
    <a asp-page="./Index">Learning Resources</a>
</div>
